@{
    ViewData["Title"] = "Главная";
}
<div class="text-start">
    <h1 class="text-center">Добро пожаловать в интернет-магазин Hometech!</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <p class="fs-4 text-start">Здесь вы найдёте качественную бытовую технику из разных стран:</p>
                <ul class="fs-5 text-start">
                    <li><img alt="germany" src="img/germany.svg" width=35px> Германия</li>
                    <li><img alt="france" src="img/france.svg" width=35px> Франция</li>
                    <li><img alt="japan" src="img/japan.svg" width=35px> Япония</li>
                    <li><img alt="south-korea" src="img/south-korea.svg" width=35px> Южная Корея</li>
                    <li><img alt="netherlands" src="img/netherlands.svg" width=35px> Нидерланды</li>
                    <li><img alt="denmark" src="img/denmark.svg" width=35px> Дания</li>
                    <li><img alt="slovenia" src="img/slovenia.svg" width=35px> Словения</li>
                </ul>
            </div>
            <div class="col-6">
                <p class="fs-4 text-start">К вашему выбору представлена бытовая техника ведущих производителей:</p>
                <ul class="fs-5 text-start">
                    <li>Samsung</li>
                    <li>Sony</li>
                    <li>LG</li>
                    <li>Philips</li>
                    <li>BOSCH</li>
                    <li>Gorenje</li>
                    <li>Tefal</li>
                    <li>Vestfrost</li>
                </ul>
            </div>
            <p class = "fs-3 text-center">Мы уверены, что в Hometech вы найдёте то, что вам нужно. Удачных покупок!</p>
        </div>
    </div>
</div>